{% extends 'core/core.html.twig' %}

{% block main %}
    <h1 class="text-3xl text-center mb-5">
        {% if material is defined %}Modifier une{{ material.name }}{% else %}Nouvelle{% endif %} resa
    </h1>

    {{ form_start(form, { attr: { 'novalidate': 'novalidate', 'class': 'max-w-screen-sm mx-auto' } }) }}

    {{ form_widget(form) }}

    <div class="grid gap-4 grid-cols-2 mt-10">
        {{ include('component/button/button.html.twig', { label: 'Enregistrer' }) }}
        {{ include('component/button/a_button.html.twig', { href: path('reservation_index'), label: 'Annuler', width: 'full' }) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
