{% extends 'core/core.html.twig' %}

{% block main %}
    <section class="text-center mt-3">
        <i class="fas fa-trash text-5xl"></i>

        <h1 class="text-center text-3xl">Supprimer le format</h1>
        <h2 class="text-2xl text-red-500">{{ format.displayName  }}</h2>

        <form method="post" action="{{ path('material_format_delete', { id: format.id }) }}">
            <div class="grid gap-4 grid-cols-2 mt-10 max-w-screen-sm mx-auto">
                {{ include('component/button/button.html.twig', {
                    label: 'Confirmer la suppression',
                    option: { type: 'danger' }
                }) }}

                {{ include('component/button/a_button.html.twig', {
                    href: path('material_view', { id: format.material.id }),
                    label: 'Annuler',
                    width: 'full'
                }) }}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_format') }}">
            </div>
        </form>
    </section>
{% endblock %}
